html{
    scroll-behavior:smooth;
}
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(190, 190, 190);
    overflow-x: hidden;
}
body .page1{
    /* border: 1px solid red; */
    /* border-bottom: 1px solid gray; */

    background-color: rgb(182, 182, 182);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    width: 99.9vw;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}



body .page1 .title{
    /* border: 1px solid; */
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;

}
body .page1 .title .logo{
    /* border: 1px solid; */
    height: 100px;
}
body .page1 .title .logo img{
    height: 100px;
    filter: contrast(0.3);
    transition: all 0.7s ease-in-out;
}

body .page1 .title .logo .mssg{
    visibility: hidden;
    /* visibility: visible; */

    cursor: pointer;

    border: 1px solid;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    font-family: sans-serif;

    width: 70px;
    position: relative;
    z-index: 2;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    
    bottom: 120px;
    left: 80px;

    /* bottom: 140px; */
    /* left: 100px; */

    transition: all 0.4s ease-in-out;
}


body .page1 .title .name{
    /* border: 1px solid; */
    padding: 10px;

    display: flex;
    font-size: 70px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(124, 124, 124);
}
body .page1 .title .name p{
    cursor:default;
    padding: 1px;
    transition: all 0.5s ease-in-out;
}
body .page1 .title .name .m{
    /* color: rgb(162, 162, 162); */
    color: green;
}

body .page1 .input{
    /* border: 1px solid; */
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2vh;
}

body .page1 .input .login{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items:end;
    flex-direction: column;

    gap: 1vh;
}

body .page1 .input .login input{
    border: none;
    border-radius: 10px;
    padding: 10px;

    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    width: 25.5em;
    height: 2.5em;

    background-color: rgb(206, 206, 206);
}
body .page1 .input .login input::placeholder{
    color: rgb(84, 84, 84);
    /* color: green; */
}
body .page1 .input .login .forpass{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    color: green;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
body .page1 .input .login .forpass:hover{
    /* margin-right: 5px; */
    color: rgb(43, 121, 43);
    text-decoration: underline;
}


body .page1 .division{
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: rgb(64, 64, 64);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}
body .page1 .division .line{
    border-bottom: 1px solid rgb(75, 75, 75);
    width: 6vw;

}

body .page1 .quickIN{
    /* border: 1px solid rgb(170, 1, 1); */
    
    width: 17em;
    height: 3em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 1vw;
}

body .page1 .quickIN div{
    /* border: 1px solid rgb(170, 1, 1); */
    height: 2em;
    width: 4em;

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
body .page1 .quickIN div img{
    cursor: pointer;
}

body .page1 .quickIN .google img{
    height: 2em;
}
body .page1 .quickIN .apple img{
    height: 1.5em;
}

body .page1 .quickIN .facebook img{
    height: 1.5em;
}



@media (max-width: 865px){
    body .page1{
        flex-direction: column;
        align-items: center;

    }
}

@media (max-width: 470px){
    body .page1{
        flex-direction: column;
        align-items: center;
        
    }

    body .page1{
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        width: 100vw;
        height: 70vh;
    
    }

    body .page1 .title .logo{
        /* border: 1px solid; */
        height: 80px;
    }
    body .page1 .title .logo img{
        height: 80px;
    }

    body .page1 .title .name{
        font-size: 55px;
    }


    body .page1 .input{
        /* border: 1px solid; */
        width: auto;
        gap: 2vh;
    }
    
    
    body .page1 .input .login input{
        font-size: small;
        width: 20em;
        height: 1.5em;
    }

    body .page1 .input .login .forpass{
        font-size:x-small;
    }

    body .page1 .division{
        width: 70vw;
    }
    body .page1 .division .line{
        border-bottom: 1px solid rgb(75, 75, 75);
        width: 80px;
    }
}